/*
 * ------------------------------------------------------------
 *  University of Illinois Biocluster - Singularity Test config
 * ------------------------------------------------------------
 */

base = 'UIUC-HPCBio'

// singularity {
//     enabled = true
//     autoMounts = true
// }

process {
    // Global process config
    executor = 'slurm'
    // clusterOptions = { "-A $params.project ${params.clusterOptions ?: ''}" }

    // NB: Overwrite this in a config file in the working directory (nextflow.config) or with -c

    // Environment modules and resource requirements
    // TODO: syntax will need to be changed for Nextflow 0.31.0 and higher:
    // https://www.nextflow.io/docs/latest/config.html#process-selectors

    // TODO: check singularity mounting options
    // stageInMode = 'symlink'
    // stageOutMode = 'rsync'
    
    queue = 'hpcbio'
    // clusterOptions = { "-M $params.email -m abe -l nodes=1:ppn=1:series600" }
    // clusterOptions = { "-M $params.email -m abe" }
    
    // container='file:///igbgroup/groups/hpcbio/singularity/16s-rdna-dada2-pipeline_latest.sif'

    withName: bowtie2Index {
        // H3A containers   
        module = "Bowtie2/2.3.2-IGB-gcc-4.9.4"
        cpus = 12
        memory = "48g"
        // container='file:///igbgroup/groups/hpcbio/singularity/h3a16s-fastqc_latest.sif'
    }

    withName: fastqc {
        // H3A containers    
        // container='file:///igbgroup/groups/hpcbio/singularity/h3a16s-fastqc_latest.sif'
        module = "FastQC/0.11.8-Java-1.8.0_152"
        cpus = 2
        memory = "8g"
    }
    
    withName: fastqc_post {
        // H3A containers    
        // container='file:///igbgroup/groups/hpcbio/singularity/h3a16s-fastqc_latest.sif'
        module = "FastQC/0.11.8-Java-1.8.0_152"
        cpus = 2
        memory = "8g"        
    }

    withName: fastp {
        // singularity pull docker://zlskidmore/fastp:v0.20.0
        // container='file:///igbgroup/groups/hpcbio/singularity/fastp_v0.20.0.sif'
        module = "fastp/0.20.0-IGB-gcc-4.9.4"
        cpus = 8
        memory = "12g"        
    }

//     withName: multiqc {
//         // H3A containers
//         container='file:///igbgroup/groups/hpcbio/singularity/h3a16s-fastqc_latest.sif'
//     }

    // Optional: host removal
    withName: kneaddata {
        // singularity pull docker://biobakery/kneaddata:0.10.0
        // container='file:///igbgroup/groups/hpcbio/singularity/kneaddata_0.10.0.sif'
        module = ["KneadData/0.8.0-IGB-gcc-8.2.0-Python-3.7.2", "trf/4.0.9", "pigz/2.4-IGB-gcc-8.2.0"]
        cpus = 12
        time = '36h'
        memory = "72g"    
    }

    // Optional: marker-based tax classification
    withName: metaphlan {
        cpus = 12
        memory = "72g"
        time = '36h'        
        // singularity pull docker://biobakery/metaphlan2:2.7.7
        // container='file:///igbgroup/groups/hpcbio/singularity/metaphlan2_2.7.7.sif'
        module = "metaphlan/3.0.4-IGB-gcc-8.2.0-Python-3.7.2"
    }

    withName: humannJointProfile {
        cpus = 2
        memory = "24g"
        // singularity pull docker://biobakery/metaphlan2:2.7.7
        // container='file:///igbgroup/groups/hpcbio/singularity/metaphlan2_2.7.7.sif'
        module = ["humann/3.0.0a5-IGB-gcc-8.2.0-Python-3.7.2", "metaphlan/3.0.4-IGB-gcc-8.2.0-Python-3.7.2"]
    }

    withName: humannBootstrap {
        cpus = 12
        memory = "72g"
        time = '36h'        
        // singularity pull docker://biobakery/metaphlan2:2.7.7
        // container='file:///igbgroup/groups/hpcbio/singularity/metaphlan2_2.7.7.sif'
        module = ["humann/3.0.0a5-IGB-gcc-8.2.0-Python-3.7.2", "metaphlan/3.0.4-IGB-gcc-8.2.0-Python-3.7.2"]
    }
    
    withName: humann {
        cpus = 12
        memory = "72g"
        time = '72h'        
        // singularity pull docker://biobakery/metaphlan2:2.7.7
        // container='file:///igbgroup/groups/hpcbio/singularity/metaphlan2_2.7.7.sif'
        module = ["humann/3.0.0a5-IGB-gcc-8.2.0-Python-3.7.2", "metaphlan/3.0.4-IGB-gcc-8.2.0-Python-3.7.2"]
    }
    
    
    // Optional: kmer-based tax classification
//     withName: kraken2 {
//         // singularity pull docker://hadrieng/kraken2:2.0.8_beta
//         container=''
//     }

    // Optional: assembly pipeline step - assembly
//     withName: megahit {
//         // singularity pull docker://vout/megahit:latest
//         container='file:///igbgroup/groups/hpcbio/singularity/megahit_latest.sif'
//         mem = "124g"
//         cpus = 12
//     }

    // Optional: assembly pipeline step - assembly
//     withName: metaspades {
//         // singularity pull docker://quay.io/biocontainers/spades:3.14.1--h2d02072_0
//         container='file:///igbgroup/groups/hpcbio/singularity/spades_3.14.1--h2d02072_0.sif'
//         cpus = 12
//         time = 72.h
//     }

//     withName: diamond {
//         // singularity pull docker://vout/megahit:latest
//         container = 'file:///igbgroup/groups/hpcbio/singularity/diamond_0.9.29--h56fc30b_0.sif'
//         mem = "384g"
//         time = 24.h
//         cpus = 24
//     }

//     withName: bwa_index {
//         // singularity pull docker://biocontainers/bwa:v0.7.17_cv1.sif"
//         container="file:///igbgroup/groups/hpcbio/singularity/bwa_v0.7.17_cv1.sif"
//     }
//     
//     withName: bwa_aln {
//         // singularity pull docker://biocontainers/bwa:v0.7.17_cv1.sif"
//         container="file:///igbgroup/groups/hpcbio/singularity/bwa_v0.7.17_cv1.sif"
//         scratch = "/scratch"
//     }

//     withName: bwa_index {
//         // singularity pull docker://biocontainers/bwa:v0.7.17-3-deb_cv1
//         container="file:///igbgroup/groups/hpcbio/singularity/bwa_v0.7.17-3-deb_cv1.sif"
//     }
//     
//     withName: bwa_aln {
//         // singularity pull docker://biocontainers/bwa:v0.7.17-3-deb_cv1
//         container="file:///igbgroup/groups/hpcbio/singularity/bwa_v0.7.17-3-deb_cv1.sif"
//         scratch = "/scratch"
//     }

//     withName: samtools_sort {
//         // 
//         container="file:///igbgroup/groups/hpcbio/singularity/samtools_v1.7.0_cv4.sif"
//     }
//     withName: samtools_sort {
//         // singularity pull docker://biocontainers/samtools:v1.9-4-deb_cv1
//         container=''
//     }
    
    // Optional: assembly pipeline step - binning
//     withName: metabat2 {
//         // singularity pull docker://metabat/metabat:latest
//         container="file:///igbgroup/groups/hpcbio/singularity/metabat_latest.sif"
//         mem = "72g"
//         cpus = 12
//     }

    // Optional: assembly pipeline step - QC
//     withName: checkm {
//         // singularity pull docker://quay.io/biocontainers/checkm-genome:1.1.2--py_0
//         container='file:///igbgroup/groups/hpcbio/singularity/checkm-genome_1.1.2--py_0.sif'
//         mem = "72g"
//         cpus = 12
//     }

    // Optional: assembly pipeline step - annotation
//     withName: prokka {
//         // singularity pull docker://ummidock/prokka:1.14.5-1
//         container = 'file:///igbgroup/groups/hpcbio/singularity/prokka_1.14.5-1.sif'
//     }
    
}

executor{
   jobName = { "$task.tag" }
   queueSize = 6
}

params {
   max_memory = 1.TB
   max_cpus = 64
   max_time = 1000.h
}
