/*
 * ------------------------------------------------------------
 *  University of Illinois Biocluster - Singularity Test config
 * ------------------------------------------------------------
 */

base = 'UIUC-HPCBio'

// singularity {
//     enabled = true
//     autoMounts = true
// }

process {
    // Global process config
    executor = 'slurm'
    // clusterOptions = { "-A $params.project ${params.clusterOptions ?: ''}" }

    // NB: Overwrite this in a config file in the working directory (nextflow.config) or with -c

    // Environment modules and resource requirements
    // TODO: syntax will need to be changed for Nextflow 0.31.0 and higher:
    // https://www.nextflow.io/docs/latest/config.html#process-selectors

    // TODO: check singularity mounting options
    // stageInMode = 'symlink'
    // stageOutMode = 'rsync'
    
    queue = 'hpcbio'
    // clusterOptions = { "-M $params.email -m abe -l nodes=1:ppn=1:series600" }
    // clusterOptions = { "-M $params.email -m abe" }
    
    // container=''

    withName: bowtie2Index {
        // H3A containers   
        module = "Bowtie2/2.3.2-IGB-gcc-4.9.4"
        cpus = 12
        memory = "48g"
    }

    withName: fastqc {
        // H3A containers    
        // container='file:///igbgroup/groups/hpcbio/singularity/h3a16s-fastqc_latest.sif'
        module = "FastQC/0.11.8-Java-1.8.0_152"
        cpus = 2
        memory = "24g"
    }
    
    withName: fastqc_post {
        // H3A containers    
        // container='file:///igbgroup/groups/hpcbio/singularity/h3a16s-fastqc_latest.sif'
        module = "FastQC/0.11.8-Java-1.8.0_152"
        cpus = 2
        memory = "24g"        
    }

    withName: fastqc_MergedSanitized {
        // H3A containers    
        // container='file:///igbgroup/groups/hpcbio/singularity/h3a16s-fastqc_latest.sif'
        module = "FastQC/0.11.8-Java-1.8.0_152"
        cpus = 2
        memory = "24g"
    }

    withName: prepNonpareil {
        module = ["seqkit/2.0.0"]
        cpus = 6
        memory = "24g"
    }

    withName: runNonpareil {
        module = ["nonpareil/3.3.4-IGB-gcc-8.2.0"]
        cpus = 6
        memory = "24g"
    }

    withName: PlotNonpareil {
        module = ["nonpareil/3.3.4-IGB-gcc-8.2.0"]
        cpus = 6
        memory = "24g"
    }

    withName: fastp {
        // singularity pull docker://zlskidmore/fastp:v0.20.0
        // container='file:///igbgroup/groups/hpcbio/singularity/fastp_v0.20.0.sif'
        module = "fastp/0.20.0-IGB-gcc-4.9.4"
        cpus = 8
        memory = "24g"
    }

    withName: multiqc_ReadPrep {
        module = "MultiQC/1.11-IGB-gcc-8.2.0-Python-3.7.2"
        cpus = 4
        memory = "24g" 
     }

    withName: multiqc_MergedSanitized {
        module = "MultiQC/1.11-IGB-gcc-8.2.0-Python-3.7.2"
        cpus = 4
        memory = "24g" 
     }

    // Optional: host removal

    // KneadData comes with Bowtie2, use the same module to index the host
 
    withName: bowtie_Index_kneaddata {
        // singularity pull docker://biobakery/kneaddata:0.10.0
        // container='file:///igbgroup/groups/hpcbio/singularity/kneaddata_0.10.0.sif'
        module = ["KneadData/0.10.0-IGB-gcc-8.2.0-Python-3.7.2", "trf/4.0.9", "pigz/2.4-IGB-gcc-8.2.0"]
        cpus = 12
        memory = "72g"    }

    withName: kneaddata {
        // singularity pull docker://biobakery/kneaddata:0.10.0
        // container='file:///igbgroup/groups/hpcbio/singularity/kneaddata_0.10.0.sif'
        module = ["KneadData/0.10.0-IGB-gcc-8.2.0-Python-3.7.2", "trf/4.0.9", "pigz/2.4-IGB-gcc-8.2.0"]
        cpus = 12
        time = '36h'
        memory = "72g"   
    }

    withName: vsearchMergeSanitized {
        module = ["vsearch/2.14.2", "pigz/2.4-IGB-gcc-8.2.0"]
        cpus = 12
        time = '12h'
        memory = "72g"      
    
    }
    
    // Optional: marker-based tax classification
    withName: metaphlan2 {
        cpus = 12
        memory = "72g"
        time = '36h'        
        // singularity pull docker://biobakery/metaphlan2:2.7.7
        // container='file:///igbgroup/groups/hpcbio/singularity/metaphlan2_2.7.7.sif'
        module = "metaphlan/3.0.7-IGB-gcc-8.2.0-Python-3.7.2"
    }

    // withName: humannJointProfile {
    //     cpus = 2
    //     memory = "24g"
    //     // singularity pull docker://biobakery/metaphlan2:2.7.7
    //     module = ["humann/3.0.1-IGB-gcc-8.2.0-Python-3.7.2", "metaphlan/3.0.7-IGB-gcc-8.2.0-Python-3.7.2"]
    // }

    // withName: humannBootstrap {
    //     cpus = 12
    //     memory = "72g"
    //     time = '36h'        
    //     // singularity pull docker://biobakery/metaphlan2:2.7.7
    //     module = ["humann/3.0.1-IGB-gcc-8.2.0-Python-3.7.2", "metaphlan/3.0.7-IGB-gcc-8.2.0-Python-3.7.2"]
    // }
    
    withName: humann {
        cpus = 12
        memory = "72g"
        time = '72h'        
        // singularity pull docker://biobakery/metaphlan2:2.7.7
        module = ["humann/3.0.0a5-IGB-gcc-8.2.0-Python-3.7.2", "metaphlan/3.0.7-IGB-gcc-8.2.0-Python-3.7.2"]
    }
    
    
    // Optional: kmer-based tax classification
     withName: kraken2 {
         // singularity pull docker://hadrieng/kraken2:2.0.8_beta
         // container=''
           module = "Kraken2/2.1.1-IGB-gcc-8.2.0"
           memory = "250g"
           cpus = 12
           time = '72h'
     }

    // Optional: assembly pipeline step - assembly
       withName: megahit {
//         // singularity pull docker://vout/megahit:latest
//         container='file:///igbgroup/groups/hpcbio/singularity/megahit_latest.sif'
           module = "MEGAHIT/1.2.9-IGB-gcc-8.2.0"
           memory = "250g"
           cpus = 12
           time = '72h'
       }

    // Optional: assembly pipeline step - assembly
      withName: metaspades {
          // singularity pull docker://quay.io/biocontainers/spades:3.14.1--h2d02072_0
          // container='file:///igbgroup/groups/hpcbio/singularity/spades_3.14.1--h2d02072_0.sif'
          module = "SPAdes/3.15.3-IGB-gcc-8.2.0-Python-3.7.2"
          cpus = 12
          time = 72.h
          memory = "1000g"
      }

     withName: Diamond_view {
//         container = 'file:///igbgroup/groups/hpcbio/singularity/diamond_0.9.29--h56fc30b_0.sif'
         module = "DIAMOND/0.9.29"
         memory = "100g"
         time = '12h'
         cpus = 12
     }

     withName: diamond {
//         container = 'file:///igbgroup/groups/hpcbio/singularity/diamond_0.9.29--h56fc30b_0.sif'
         module = "DIAMOND/0.9.29"
         memory = "384g"
         time = '36h'
         cpus = 24
     }

       withName: bwa_index {
//         // singularity pull docker://biocontainers/bwa:v0.7.17_cv1.sif"
//         container="file:///igbgroup/groups/hpcbio/singularity/bwa_v0.7.17_cv1.sif"
           module = "BWA/0.7.17-IGB-gcc-8.2.0"
           memory = "72g"
           cpus = 12
     }
      
       withName: bwa_aln {
//         // singularity pull docker://biocontainers/bwa:v0.7.17_cv1.sif"
//         container="file:///igbgroup/groups/hpcbio/singularity/bwa_v0.7.17_cv1.sif"
           scratch = "/scratch"
           module = "BWA/0.7.17-IGB-gcc-8.2.0"
           memory = "72g"
           cpus = 12
       }

       withName: samtools_sort {
//         // singularity pull docker://biocontainers/samtools:v1.9-4-deb_cv1
//         container="file:///igbgroup/groups/hpcbio/singularity/samtools_v1.7.0_cv4.sif"
           module = "SAMtools/1.12-IGB-gcc-8.2.0"
           memory = "72g"
           cpus = 12
       }
    
    // Optional: assembly pipeline step - binning
       withName: metabat2 {
//         // singularity pull docker://metabat/metabat:latest
//         container="file:///igbgroup/groups/hpcbio/singularity/metabat_latest.sif"
          module = "MetaBAT/2.15-IGB-gcc-8.2.0"
          memory = "72g"
          cpus = 12
       }

    // Optional: assembly pipeline step - QC
       withName: checkm {
//         // singularity pull docker://quay.io/biocontainers/checkm-genome:1.1.2--py_0
//         container='file:///igbgroup/groups/hpcbio/singularity/checkm-genome_1.1.2--py_0.sif'
           module = "CheckM/1.1.3-IGB-gcc-8.2.0-Python-3.7.2"
           memory = "72g"
           cpus = 12
      }



       withName: metabat2_checkM {
//         // singularity pull docker://metabat/metabat:latest
//         container="file:///igbgroup/groups/hpcbio/singularity/metabat_latest.sif"
          module = ["MetaBAT/2.15-IGB-gcc-8.2.0", "CheckM/1.1.3-IGB-gcc-8.2.0-Python-3.7.2"]
          memory = "72g"
          time = '24h'
          cpus = 12
       }

       withName:  blobtools {
          module = [ "blobtools/1.1.1-IGB-gcc-4.9.4-Python-3.6.1", "DIAMOND/0.9.29" ]
          memory = "300g"
          time = '24h'
          cpus = 12       
       
       } 
      
    // Optional: assembly pipeline step - annotation
       withName: prokka {
//         // singularity pull docker://ummidock/prokka:1.14.5-1
//         container = 'file:///igbgroup/groups/hpcbio/singularity/prokka_1.14.5-1.sif'
           module = "prokka/1.14.6-IGB-gcc-4.9.4-Perl-5.24.1"
           memory = "72g"
           cpus = 12
      }
    
}

executor{
   jobName = { "$task.tag" }
   queueSize = 6
}

params {
   max_memory = 1.TB
   max_cpus = 64
   max_time = 1000.h
}
